body{
    background-image: url("../images/outsidehouse.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 90%;
}

#hide {
    display:none;
}
h4 {
    margin-left:2%
}
a {
    margin-left:2%;
}
