body{
    background-image: url("../images/outsidehouse.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 90%;
}

#hide {
    display:none;
}
h4 {
    margin-left:2%
}
a {
    margin-left:2%;
}

@media only screen and (max-width: 500px) {
    body {
        background-size: auto;
        height: auto;
    }

    header {
        display: none;
    }

  }
