/* Bulma styling elements are being used. CSS not present. */

body{
    background-image: url("../images/wallpaper2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

