/* Bulma styling elements are being used. CSS not present. */

body{
    background-image: url("../images/wallpaper2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

.img {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    display: block;
    padding: 0;
    padding-bottom: 2%;
    padding-top: 2%;
}

button{
    margin: 0;
    padding: 0;
}

